    <!-- Footer draws on:
--_data/
---language.yml
---services.yml
---network.yml
---socialmedia.yml

--config.yml
    -->


<!-- CSS for footer is in _07_layout.scss -->

<!-- Up to top arrow -->
    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->
 

<!-- Begin whole footer block, including sub-footer -->
    <footer id="footer-content" class="bg-grau"> 

<!-- Begin first footer block -->
      <div id="footer">
        <div class="row align-spaced align-center" style="align-content: vertical;"> <!-- style="display: flex; justify-content: center; align-items: center;" -- Unless I'm doing it wrong, this "bootstrappy" way turns out not to be resposive with foundation -->

          <!-- Column 1 --><!--PDHI vert -->
          <div class="small-offset-12 large-3 columns">
            <img src="./images/logos/pdhi-logo-white_square.svg" alt="The Public Digital Humanities Institute" style="max-width: 90%; padding-right: 3rem; border-right: 1px solid;"/>
          </div><!-- /.large-3.columns -->


          <!-- Column 2 --><!-- IDRH -->
          <div class="small-offset-12 large-4 columns" style="margin-top: 3.5rem;">
            <img src="./images/logos/idrh-logo-white.png" alt="The Institute for Digital Research in the Humanities"/>
          </div><!-- /.large-4.columns -->


          <!-- Column 3 --><!-- NEH -->
          <div class="small-offset-12 large-3 columns" style="margin-top: 3.5rem;">
            <img src="./images/logos/NEH-seal-white.png" alt="National Endownment for the Humanities"/>
          </div><!-- /.large-3.columns -->


          <!-- Column 4 --><!-- HCH -->
          <div class="small-offset-12 large-2 columns" style="margin-top: 3.5rem;">
            <img src="./images/logos/hallcenter-logo-white-vert_cropped.png" alt="The Hall Center for the Humanities"/>
          </div><!-- /.large-2.columns -->



        </div><!-- /.row -->

      </div><!-- /#footer -->


<!-- Begin subfooter block --> 
      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-4 columns credits">
            <a href="/about/">About the IDRH</a>
          </section>

          <section id="subfooter-center" class="small-12 medium-4 columns credits" style="text-align: center">
            <a href="/conduct/">Code of Conduct</a>
          </section>

          <section id="subfooter-right" class="small-12 medium-4 columns credits" style="text-align: right;">
            <a href="/contact/">Contact</a>
          </section>

          <!-- Social media icons -->
         <!--<section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section> -->
        </nav>
      </div><!-- /#subfooter -->
    </footer>
