    <!-- Footer draws on:
--_data/
---language.yml
---services.yml
---network.yml
---socialmedia.yml

--config.yml
    -->


<!-- CSS for footer is in _07_layout.scss -->

<!-- Up to top arrow -->
<!--
    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!~~ /.small-12.columns ~~>
    </div><!~~ /.row ~~>
-->
 

<!-- Begin whole footer block, including sub-footer -->
    <footer id="footer-content" class="bg-grau"> 

<!-- Begin first footer block -->
 <div id="footer">
  <!-- ROW -->
        <div id="footer-logos" class="row small-collapse align-spaced align-center" style="align-content: vertical;"> <!-- style="display: flex; justify-content: center; align-items: center;" -- Unless I'm doing it wrong, this "bootstrappy" way turns out not to be resposive with foundation -->

          <!-- Column 1 --><!--PDHI vert -->
          <div class="small-4 large-3 columns">
            <img id="pdhi-logo" class="footer-logo" src="{{ site.baseurl }}/images/logos/PDHI-logo-white_square.svg" alt="The Public Digital Humanities Institute"/>
          </div><!-- /.large-3.columns -->


          <!-- Column 2 --><!-- IDRH -->
          <div class="small-4 large-5 columns">
            <a href="https://idrh.ku.edu"><img id="idrh-logo" class="footer-logo" src="{{ site.baseurl }}/images/logos/idrh-logo-white.png" alt="The Institute for Digital Research in the Humanities"/></a>
          
          </div><!-- /.large-4.columns -->


          <!-- Column 3 --><!-- NEH -->
          <div class="small-4 large-4 columns">
            <a href="https://www.neh.gov"><img id="neh-logo" class="footer-logo" src="{{ site.baseurl }}/images/logos/NEH-seal-white.png" alt="National Endownment for the Humanities"/></a>
          
          </div><!-- /.large-3.columns -->

        </div><!-- /.row -->

<!--ROW -->

      <div id="footer-links" class="row align-spaced">

        <div id="footer-contact" class="large-3 columns">
          Hosted by the Institute for Digital Research in the Humanities<br><br>
          University of Kansas<br>
          900 Sunnyside Ave<br>
          Lawrence, KS 66045 <br>
          <a href="mailto:idrh@ku.edu">idrh@ku.edu</a>
        </div>


        <div class="large-5 columns">
          <hr>
          <a href="{{ site.baseurl }}/schedule/">Schedule</a><hr>
          <a href="{{ site.baseurl }}/logistics/">Logistics</a><hr>
          <a href="{{ site.baseurl }}/conduct/">Code of Conduct</a>
          
        </div>


        <div class="large-4 columns">
        <hr>
        <a href="{{ site.baseurl }}/idrh/">About the IDRH</a><hr>
        <a href="{{ site.baseurl }}/contact/">Contact</a>
        <hr>
        </div>

        <div id="footer-neh" style="text-align:center; margin-top:1em; clear:both;">
           <p>&nbsp;</p>
           <p>The Public Digital Humanities Institute has been made possible by a major grant from the <a href="https://www.neh.gov">National Endowment for the Humanities: Democracy demands wisdom</a>. Any views, findings, conclusions, or recommendations expressed in this website do not necessarily represent those of the National Endowment for the Humanities.</p>
        </div>



      </div><!-- /.row --> 





      </div><!-- /#footer -->


<!-- Begin subfooter block --> 

<!--
      <div id="subfooter">
        <nav class="row align-center">
          <div class="small-12 medium-4 columns subnav">
            <a href="{{ site.baseurl }}/idrh/">About the IDRH</a>
          </div>

          <div class="small-12 medium-4 columns subnav">
            <a href="{{ site.baseurl }}/conduct/">Code of Conduct</a>
          </div>

          <div class="small-12 medium-4 columns subnav">
            <a href="{{ site.baseurl }}/contact/">Contact</a>
          </div>

          <!~~ Social media icons ~~>
         <!~~<section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section> ~~>
        </nav>
      </div><!~~ /#subfooter ~~>-->
    </footer>
