@charset "utf-8";
/* TOC

- Adjustments: Video Layout
- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom
- Reusable Content Section (in development)
- Frontpage page
- Widgets -- CSS for widgets is located in _09_elements.scss

*/



/* Adjustments: Video Layout
------------------------------------------------------------------- */

body.video,
body.video #masthead-no-image-header { background: #000; }
body.video #masthead-no-image-header { margin-bottom: 60px; }
body.video h1,
body.video h2,
body.video h3,
body.video h4,
body.video h5,
body.video h6,
body.video p,
body.video a,
body.video blockquote:before,
body.video blockquote:after,
body.video cite a, { color: #fff; }
body.video cite a:visited, { color: #fff; }
body.video cite { color: #fff; }



/* Navigation
------------------------------------------------------------------- */

#navigation {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);

    [class^='icon-']:before, [class*=' icon-']:before {
        margin-right: rem-calc(8);
    }
}



/* Search
------------------------------------------------------------------- */

.no-js form#search {
  display: none;
}



/* Masthead
------------------------------------------------------------------- */

#masthead {
    background-color: #fff; /* $primary-color */
}
#masthead-no-image-header {
    background-color: #fff; /* $primary-color */
}

/* Clean reset from feeling-responsive 
 *
 *
 *
 *
 *
 *
#masthead {
    background-color: $primary-color;
    height: 60vh;
}
#masthead-no-image-header {
    background-color: $primary-color;
}
#masthead-with-text {
    text-align: center;
    font-size: rem-calc(54);
    font-family: $header-font-family;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

*
*
*  END clean reset*/


/* Addition adjusts the typography of the masthead title. Since we've added the slogan to the masthead, add styling to that too. */


#masthead-with-text .masthead-title {
    text-align: left;
    font-size: rem-calc(54);
    font-family: $header-font-family;
    color: #000;
    font-weight: 700;
}

 #masthead-with-text .masthead-slogan {
    text-align: left;
    font-size: rem-calc(24);
    font-family: $body-font-family;
    color: #000;
    font-weight: 300;
    padding-top: 1rem;
}

/*end addition*/


#masthead-no-image-header {
/*    height: 175px; */
}

#masthead-no-image-header #logo img {
    margin-top: 150px; /* was 60px */
}

/* Masthead › small-only
------------------------------------------------------------------- */

@media #{$small-only} {
    #logo img {
        display: inline-block; /* was display: none */
    } 

    #masthead {
        /* height: 200px; */
        min-height: 100vh;
    }
    #masthead-with-pattern {
        padding: 15px 0;
    }
    #masthead-with-background-color {
        padding: 15px 0;
    }
    #masthead-with-text {
    /*    height: 220px; */
        padding: 30px 0;
        font-size: rem-calc(36);
    }
    #masthead-no-image-header {
        display: none; /* was none*/
    }
}


/* Masthead › medium-only
------------------------------------------------------------------- */

@media #{$medium-only} {
    #logo img {
        margin-top: 60px;
    }
	
    #masthead {
        /* height: 280px;*/
        min-height: 30vh;
    }
    #masthead-with-pattern {
        padding: 20px 0;
    }
    #masthead-with-background-color {
        padding: 20px 0;
    }
    #masthead-with-text {
        padding: 60px 0;
        /* height: 300px; */
    }
}


/* Masthead › large-only
------------------------------------------------------------------- */

@media #{$large-only} {
    #logo img {
        margin-top: 80px;
    }
	
	
    #masthead {
        /*height: 310px;*/
        min-height: 20vh;
    }
    #masthead-with-pattern {
        padding: 30px 0;
    }
    #masthead-with-background-color {
        padding: 30px 0;
    }
    #masthead-with-text {
        /* height: 330px; */
        /* height: 30vh;
        width: 100vw; */
        /* height: auto;*/
        padding: 60px 0;
    }
}


/* Masthead › xlarge-up
------------------------------------------------------------------- */

@media #{$xlarge-up} {
    #logo img {
        margin-top: 110px;
    }
	
	
    #masthead {
        /* height: 380px;*/
        min-height: 20vh;
    }
    #masthead-with-pattern {
        padding: 45px 0;
    }
    #masthead-with-background-color {
        padding: 45px 0;
    }
    #masthead-with-text {
        padding: 95px 0;
        height: 400px;
    }
}


#title-image-small {
    height: 240px;
}
#title-image-large {
    height: 520px;
}
#title-image-index-small {
    height: 120px;
}
#title-image-index-large {
    height: 260px;
}



/* Breadcrumb
------------------------------------------------------------------- */

#breadcrumb {
    background: scale-color($grey-1, $lightness: 55%);
    border-top: 1px solid scale-color($grey-1, $lightness: 45%);
    border-bottom: 1px solid scale-color($grey-1, $lightness: 45%);
}
.breadcrumbs>.current {
  font-weight: bold;
}


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
    color: $grey-5;
}

#page-meta .button {
    background: $grey-5;
    border: 0;
}
#page-meta .button {
    color: #fff;
}
#page-meta .button:hover {
    background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
  .meta-info a {
    text-decoration: underline;
    color: scale-color($grey-1, $lightness: 40%);
  }
  .meta-info a:hover {
    text-decoration: none;
    color: $secondary-color;
  }



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
    /* original: padding: 160px 0 10px 0; */
    padding: 100px 0px 10px 0;
}

#up-to-top a {
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;
}
#up-to-top a:hover {
    background: $grey-2;
}



/* Footer
------------------------------------------------------------------- */

#footer-content p,
#footer-content li {
    font-size: rem-calc(13);
    font-weight: 300;
}

#footer {
    padding-top: 30px;
    padding-bottom: 40px;
    background: $footer-bg;
    color: $footer-color;
    }

    #footer a {
        color: $footer-link-color;
    }
    #footer h4,
    #footer h5 {
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
    }

/* Footer - Small
----------------------- */
@media #{$small-only} {
    .footer-logo {
    display: none;
    padding-top: 0 !important;
    }

    #footer-contact {
    display: none;
    }

    #footer-links hr:last-child {
    display: none;
    }
}


/* Footer - Medium 
----------------------- */

 @media #{$medium-only} {
    .footer-logo {
    display: none;
    }

    #footer-links hr:last-child {
        display: none;
    }

    #footer-contact {
    display: none;
    }
} 




/* Footer - Large
----------------------- */
@media #{$large-only}{
    #pdhi-logo {
    max-width: 80%;
    padding-right: 3rem; 
    border-right: 1px solid;
    }

    #idrh-logo {
    max-width: 90%;
    margin-top: 3.5rem
    }

    #neh-logo {
    max-width: 90%;
    margin-top: 2.5rem;
    }

    #footer-links {
    margin-top: 2.5rem;
    }
}

@media #{$xlarge-up}{
    #pdhi-logo {
    max-width: 90%;
    padding-right: 3rem; 
    border-right: 1px solid;
    }

    #idrh-logo {
    max-width: 90%;
    margin-top: 3.5rem;
    }

    #neh-logo {
    max-width: 90%;
    margin-top: 2.5rem;
    }

    
    #footer-links {
    margin-top: 2.5rem;
    }
}



/* Subfooter
------------------------------------------------------------------- */

#subfooter {
    background: $subfooter-bg;
    color: $subfooter-color;
    padding-top: 15px;
    padding-bottom: 15px;
}

#subfooter-left ul.inline-list {
    float: left;
}

.subnav a {
    color: $subfooter-link-color;
    border: 0;
    text-transform: uppercase;
    &:hover {
        color: #fff;
  }
}

.social-icons {
    margin-bottom: 10px !important;

// Beware of SCSS-Syntax here
  li {
    padding: 0 0 20px 0;
  }
  .subnav a {
    font-size: rem-calc(23);
    display: block;
    width: 36px;
    border-radius: 50%;
    color: $subfooter-bg;
    background: $subfooter-color;
    text-align: center;
    &:hover {
      background: $subfooter-bg;
      color: #fff;
    }
  }
}

@media #{$large-only}{
    .subnav {
    text-align: center;
    }
}

@media #{$xlarge-up}{
    .subnav {
    text-align: center;
    }
    
}



/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }




/* Frontpage - new layout 

------------------------------------------------------------------- */

/* Header text */

#header-home .headline {
    text-align: left;
    font-size: rem-calc(42);
    font-family: $header-font-family;
    color: #000;
    font-weight: 700;
}

 #header-home .byline {
    text-align: left;
    font-size: rem-calc(20);
    font-family: $body-font-family;
    color: #000;
    font-weight: 300;
    padding-top: 1rem;
}


/* Home page small only - Remove the logo entirely
------------------------------- */ 
@media #{$small-only} {
    #header-home .row {
        margin-top: 3rem !important;
    }

    #header-home-logo {
        display: none;
        }
}


/* Home page medium only
------------------------------- */ 
@media #{$medium-only} {

    #header-home-logo {
        display: none;
    }

    #header-home .row {
        margin-top: 3rem !important;
    }

}


/* Call for Action Bar
------------------------------------------------------------------- */

#callforaction_bar p,
#callforaction_bar li {
    font-size: rem-calc(24);
    font-weight: 300;
    word-break: break-word;
}

#callforaction_bar {
    padding-top: 4rem;
}

#callforaction_bar_content { 
    padding-top: 10px; /* 30 */
    padding-bottom: 15px; /* 20 */
    background: $dh-4;
    color: $callforaction_bar-color;
    }

    #callforaction_bar_content a {
        color: #fff;
    }

    #callforaction_bar_content h2 {
        font-weight: 800;
        margin-top: 1em !important;
    }